@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");

.about-me {
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  background: var(--clr-background-light);
  color: var(--clr-text-dark);
  font-family: "Raleway", "Roboto Condensed", sans-serif;
  padding: 0 1rem;
}

@fon



.details__imgs {
  margin: 2.5rem 0;
}

.details__imgs img {
  height: 40vw;
  object-fit: cover;
  margin: 0.15rem;
  width: 100%;
}

.img-2 {
  display: none;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details > div {
  border-top: 1px solid grey;
  padding: 3rem 1rem;
}

.details-title {
  text-align: center;
  padding-top: 2rem;
}

span {
  font-weight: 600;
}

span a {
  color: var(--clr-text-dark);
}

.subtitle p {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: left;
  padding-bottom: 1em;
}

.registry-desc {
  display: flex;
  flex-direction: column;
}

.registry-desc a {
  text-decoration: none;
  color: var(--clr-text-dark);
  font-size: 0.75rem;
}

.registry-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registry-img {
  width: 100%;
  max-width: 500px;
  filter: grayscale();
}

.registry-caption {
  color: var(--clr-text-dark);
  text-decoration: none;
}

.desc p {
  font-size: 1rem;
  text-align: left;
  padding-bottom: 0.5rem;
}


@media (min-width: 42em) {
  .about-me {
    padding-top: 5em;
  }
}

@media (min-width: 40rem) {
  .details-title {
    padding-top: 9.5rem;
  }

  .subtitle p {
    text-align: center;
  }

  .desc {
    columns: 2;
  }
}

@media (min-width: 60rem) {
  .about-me {
    text-align: left;
    padding: 0 5rem;
  }

  .details-title {
    padding-top: 6rem;
  }

  .details__imgs {
    display: flex;
    display: 100%;
  }

  .details__imgs img {
    height: 15vw;
    width: 50%;
    margin: 0 0.15rem;
    object-position: bottom;
  }

  .img-2 {
    display: inline-block;
  }

  .details > div {
    display: flex;
    border-top: 1px solid grey;
    padding: 2rem 2rem;
  }

  .subtitle {
    width: 30vw;
  }

  .subtitle p {
    text-align: left;
    padding: 1rem 0 1rem 1rem;
  }

  .desc {
    width: 60vw;
    columns: 2;
  }

  .desc p {
    padding: 1rem 0;
    line-height: 1.5;
    text-align: left;
    word-wrap: normal;
  }
}