@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

.welcome {
  background: var(--clr-primary);
  background-image: linear-gradient(to top left, #404040, #021823);
  background-image: url("https://lh3.googleusercontent.com/SijQxfArWyJ08ItELDaAAdD8XPWkifcwSpHEFpTsyw-TOByBFQPuz33-UGptdeqW-Y4fyer-JjHfp6U6tA6GwsEiJAJyfw5NZGrN26Bz4NzgaWpTgeLvb-7sxRwASajTR6VW22FsfuU=w2400");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome__label {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-text-main);
  line-height: 2;
  text-align: center;
  width: 90vw;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 30px -5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: var(--clr-accent);
  /* text-transform: uppercase; */
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  display: block;
  margin-bottom: 1rem;
}

.tagline {
  font-size: 0.8rem;
  color: #e8e9eb;
  line-height: 1.8;
  font-family: "Merriweather", serif;
  font-weight: 400;
  display: block;
}

.welcome__label::before,
.welcome__label::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background: var(--clr-accent);
}

.welcome__label::before {
  margin: 0 auto 2em;
}

.welcome__label::after {
  margin: 2em auto 0;
}

.welcome-down {
  position: absolute;
  margin-bottom: 10vw;
  max-width: 3.5vh;
  transform: rotate(90deg);
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 8%;
  }
  100% {
    bottom: 5%;
  }
}

.tech {
  text-align: center;
  background: var(--clr-background-light);
  padding: 5em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech h2 {
  max-width: 90vw;
}

.tech p {
  max-width: 70vw;
  color: var(--clr-text-dark)
}

@media (min-width: 50em) {
  .welcome {
    background-position: 0 -150px;
  }

  .welcome__label {
    font-size: 3vw;
    /* width: 60vw; */
  }

  .welcome__title {
    font-size: 3vw;
  }

  .tagline {
    font-size: 1vw;
  }

  .welcome-down {
    margin-bottom: 0;
  }
}
